.slide-list {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    overflow-y: scroll;
}

.slide {
    margin: 5px;
    border: 1px solid darkgray;
    border-radius: 10px;
    pointer-events: none;
}
