.slideList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 0;
    width: 221px;
}

.slide {
    margin: 7px 10px;
    outline: 1px solid #A9A9A9;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.draggedSlide {
    opacity: 0.75;
}

.draggedSlides {
    position: fixed;
    pointer-events: none;
    user-select: none;
}