.button {
    padding: 3px 11px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    min-width: 40px;
    height: 25px;
    gap: 3px;
    border-radius: 3px;
    transition: 0.5s;
}

.button:hover {
    background-color: #D2D8DF;
}

.buttonDisabled:hover  {
    background-color: transparent;
}

.img {
    height: 100%;
}

.imgDisabled {
    opacity: 0.5;
}