.button {
    padding: 3px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6dddd;
    min-width: 40px;
    height: 25px;
    gap: 3px;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 #979CA5;
    transition: 0.5s;
    flex-grow: 1;
}

.button:hover {
    transform: translate(0,-2px);
    box-shadow: 0 4px 7px 0 #91A1BA;
    background-color: #a1b3b3;
}

.buttonDisabled:hover  {
    transform: none;
    box-shadow: 0 2px 3px 0 #979CA5;
    background-color: #d6dddd;
}

.img {
    height: 100%;
}

.imgDisabled {
    opacity: 0.5;
}