.slide {
    position: relative;
    background-size: 100% 100%;
    box-sizing: content-box;
    outline: 1px solid #d3d3d3;
    transition: outline 0.1s ease;
}

.emptySlide {
    outline: 2px dashed #d3d3d3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}