.element {
    position: absolute;
    box-sizing: content-box;
}

.resizerL, .resizerT, .resizerR, .resizerB {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
}

.resizerL{
    top: 50%;
    left: 0;
}

.resizerT {
    left: 50%;
    top: 0;
    cursor: row-resize;
}

.resizerR {
    right: 0;
    top: 50%;
    cursor: col-resize;
}

.resizerB {
    bottom: 0;
    left: 50%;
}