.button {
    background-color: transparent;
    border-radius: 3px;
    transition: 0.5s;
    min-width: 40px;
}

.button:hover {
    background-color: #d2d8df;
}

.buttonDisabled:hover {
    transform: none;

}

.label {
    padding: 3px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 25px;
    gap: 3px;
}

.input {
    display: none;
}

.img {
    height: 100%;
}

.labelDisabled {
    color: #AAAAAA;
}

.imgDisabled {
    opacity: 0.5;
}