.button {
   background-color: transparent;
   border-radius: 3px;
   transition: 0.5s;
}

.button:hover {
   background-color: #d2d8df;
}

.label {
   padding: 3px 11px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   height: 25px;
   gap: 3px;
}

.input {
   display: none;
}

.img {
   height: 100%;
}
