.button {
   background-color: transparent;
   /*border-radius: 3px;*/
   /*box-shadow: 0 2px 3px 0 #979CA5;*/
   transition: 0.5s;
}

.button:hover {
   /*transform: translate(0,-2px);*/
   /*box-shadow: 0 4px 7px 0 #91A1BA;*/
   /*background-color: #a1b3b3;*/
}

.label {
   padding: 3px 11px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   height: 25px;
   gap: 3px;
}

.input {
   display: none;
}

.img {
   height: 100%;
}
