.workArea {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid #EAECED;
    border-right: none;
    border-bottom: none;
}

.slide {
    cursor: move;
}