.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWindow {
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 364px;
}

.controlButtons {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inputForColor {
    width: 40px;
    margin-right: 10px;
}

.labelForColorInput {
    cursor: pointer;
}

.labelForImageInput {
    display: flex;
    align-items: center;
    padding: 10px 20px 20px;
    cursor: pointer;
    height: 25px;
}

.iconForImageInput {
    background-color: rgba(245, 245, 245, 0.51);
    min-width: 40px;
    height: 25px;
    border: 1px solid rgba(245, 245, 245);
    border-radius: 4px;
    margin-right: 10px;
}

.imageInput {
    display: none;
}