.colorPicker {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.gradientSelectorWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 14px 10px;
    font-size: 30px;
}

.gradientSelector {
    border: 1px solid #8C8F8F;
    border-radius: 3px;
    background-color: #ACB7B7;
    height: 25px;
}

.colorSelectorsLabel {
    padding-left: 6px;
}

.colorSelectorsWrapper {
    padding: 5px;
    display: flex;
    gap: 10px;
}

.colorSelector {
    background-color: #ACB7B7;
    height: 25px;
    border: 1px solid #8C8F8F;
    border-radius: 3px;
}