.undoRedoControls {
    display: flex;
    position: relative;
}

.undoRedoControls:after {
    position: absolute;
    content: '';
    top: 2px;
    right: 0;
    width: 1px;
    height: 23px;
    background-color: rgba(0, 0, 0, 0.35);
}