.topPanel {
    height: var(--topPanelHeight);
}

.presentationControls {
    padding: 4px;
    display: flex;
    /*gap: 8px;*/
    height: calc(var(--topPanelHeight) / 3);
}

.slidesControls {
    width: fit-content;
    background-color: #F0F4F9;
    border-radius: 10px;
    padding: 4px 10px;
    display: flex;
    gap: 8px;
    height: calc(var(--topPanelHeight) / 3);
    position: relative;
}
