.topPanel {
    height: var(--topPanelHeight);
}

.title {
    background-color: transparent;
    border: none;
    font-size: 16px;
    width: 250px;
    overflow: hidden;
    height: calc(var(--topPanelHeight) / 3);
}

.presentationToolbar {
    padding: 4px;
    display: flex;
    height: calc(var(--topPanelHeight) / 3);
}

.slidesToolbar {
    padding: 4px;
    display: flex;
    height: calc(var(--topPanelHeight) / 3);
}