.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    gap: 3px;
    display: flex;
    opacity: 0;
    padding: 120px 100px 50px 50px;
    transition: opacity 1.5s ease;
}

.buttons:hover {
    opacity: 1;
}