.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideWrapper {
    position: relative;
}

.slide {
    overflow: hidden;
    pointer-events: none;
}

.controlsButtons {
    position: absolute;
    top: -1px;
    right: -62px;
    background-color: #F0F4F9;
    border-radius: 0 10px 10px 0;
    padding: 5px 10px 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
