.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 755px;
    min-height: 360px;
    background-color: rgba(240, 240, 240, 0.8);
    border: 1px solid rgba(210, 210, 210);
    border-radius: 5px;
}

.toolbar {
    padding: 5px;
}

.buttons {
    display: flex;
    height: 30px;
    gap: 3px;
}

.images {
    height: 306px;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 5px;
}

.active {
    border: 4px solid rgb(75, 0, 130);
    border-radius: 10px;
}