* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 500 13px "Google sans", Roboto, Arial, Helvetica, sans-serif;
}

:root {
    --topPanelHeight: 100px;
    --paddingApp: 10px;
    background-color: #F9FBFD;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #F9F9FD;
}

::-webkit-scrollbar-thumb {
    background-color: #DADCE0;
    border-radius: 5px;
}

#root {
    padding: var(--paddingApp);
    height: calc(100vh - var(--paddingApp) * 2);
}