.preview-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide {
    overflow: hidden;
    pointer-events: none;
}

.buttons {
    position: absolute;
    top: 5%;
    right: 5%;
}