.previewWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideWrapper {
    transition: transform 0.5s ease-in-out;
}

.slide {
    overflow: hidden;
    pointer-events: none;
    box-sizing: border-box;
}
